# Pipeline Execution Settings
PIPELINE_RUN_MODE=full
LOG_LEVEL=INFO

# Data Lake Paths
DATA_LAKE_BRONZE_PATH=./data_lake/bronze/olist
DATA_LAKE_SILVER_PATH=./data_lake/silver
DATA_LAKE_QUARANTINE_PATH=./data_lake/quarantine

# PostgreSQL Warehouse Connection Settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=user_warehouse
POSTGRES_USER=user_name
POSTGRES_PASSWORD=your_password
POSTGRES_JDBC_URL=jdbc:postgresql://localhost:5432/user_warehouse

# Spark Settings
SPARK_MASTER=local[*]
SPARK_DRIVER_MEMORY=2g
